<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />

    <script src='/javascripts/jquery-1.11.1.min.js'></script>
    <link rel="stylesheet" type="text/css" href="/tracking/stylesheets/dhtmlxcalendar.css"/>
    <script src="/tracking/javascripts/dhtmlxcalendar.js"></script>

    <script src="/tracking/viewmodels/funnelVM"></script>
    <script src="/tracking/javascripts/knockout-3.1.0.js"></script>
    <script src="/tracking/javascripts/Chart.min.js"></script>


    <script type="text/html" id='step-template'>
        <div class = 'step'>
            <h2 data-bind="text:'Step ' + $index()"></h2>
            <select data-bind="options: events, value: event"></select>
            <select data-bind="options: properties, value: property", width="8"></select>
            <select data-bind="options: operation_type().operators, optionsText: 'name', optionsValue: 'value', value: operator"></select>
            <input  data-bind="value: value, valueUpdate: 'afterkeydown'">
            <select data-bind="options: operation_types, optionsText: 'name', value: operation_type"></select>
            <button data-bind="click: $parents[1].removeStep">X</button>
        </div>
    </script>

    <script type="text/html" id='funnel-template'>
        <div class="funnel">
            <input  data-bind="value: $data.name, valueUpdate: 'afterkeydown'", placeholder='Funnel Name'>            
            <!-- ko foreach: $data.steps -->
            <div data-bind="template: { name: 'step-template', data: $data }"></div>
            <!-- /ko -->
            <button data-bind="click: $data.addStep"> Add Step</button>
        </div>
    </script>

</head>
<body >
    <h1><%= title %></h1>
    <label for="userId">User Id:</label>
    <input data-bind="value: userId, valueUpdate: 'afterkeydown'" id="userId">
        
    <div class="content">

        <h2>Funnel List</h2>
        <select data-bind="options: funnels, optionsText: 'name', value: funnelSelected"></select>
        <button data-bind="click: addFunnel">New Funnel</button>
    </div>

    <div class="content">
        <h2>Edit Funnel</h2>
        <div data-bind="template: { name: 'funnel-template', data: funnelEdited }"></div>
        <button data-bind="click: saveFunnel"> Save Funnel</button>
        <button data-bind="click: deleteFunnel"> Delete Funnel</button>
        <button data-bind="click: applyFunnel"> Apply Funnel</button>
    </div>

    <div class="funnelChart">
        <input id="calendar" data-bind="value: calOne">
        <input type="text" id="calendar2"><br>
        <p data-bind="text: calOne"></p><br>
        <canvas id="funnelChart" width="680" height="300"></canvas>
    </div>

    <button data-bind="click: test">Test</button>

</body>
</html>