<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
    <link rel='stylesheet' href='<%= stpath %>/stylesheets/normalize.css' />
	<link rel='stylesheet' href='<%= stpath %>/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="<%= stpath %>/stylesheets/dhtmlxcalendar.css"/>
</head>
<body >
<div class="steps">

    <div>
        <a href="/">Back</a>
    </div>
    <br>
    <!-- FUNNEL ANALYSIS PANEL -->
    <% include funnelPanel %> 
    <!-- RETENTION ANALYSIS PANEL -->
    <!-- COHORT ANALYSIS PANEL -->

    <% include scripts %> 
</body>
</html>