<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />

    <script src='/javascripts/jquery-1.11.1.min.js'></script>
    <script src="/javascripts/knockout-3.1.0.js"></script>

    <script src="/tracking/viewmodels/funnelVM"></script>

    <script type="text/html" id='step-template'>
        <div class = 'step'>
            <h2 data-bind="text:'Step ' + $index()"></h2>
            <select data-bind="options: events, value: event, visible: true"></select>
            <select data-bind="options: properties, value: property, visible: true", width="8"></select>
            <select data-bind="options: available_operators, optionsText: 'name', optionsValue: 'value', value: operator, visible: true"></select>
            <input  data-bind="value: value, valueUpdate: 'afterkeydown'">
            <select data-bind="options: operation_types, optionsText: 'name', optionsValue: 'value', value: available_operators, visible: true"></select>
        </div>
    </script>

    <script type="text/html" id='funnel-template'>
        <div class="funnel">
            <input  data-bind="value: $data.name, valueUpdate: 'afterkeydown'", placeholder='Funnel Name'>            
            <!-- ko foreach: $data.steps -->
            <div data-bind="template: { name: 'step-template', data: $data }"></div>
            <!-- /ko -->
            <button data-bind="click: $data.addStep, visible: true"> Add Step</button>
            <button data-bind="click: $data.save, visible: true"> Save Funnel</button>
        </div>
    </script>

</head>
<body >
    <h1><%= title %></h1>

    <div class="content">
        <h2>Funnel List</h2>
        <select data-bind="options: funnels, optionsText: 'name', value: funnel"></select>
    </div>

    <div class="content">
        <h2>Edit Funnel</h2>
        <div data-bind="template: { name: 'funnel-template', data: funnel }"></div>
    </div>


</body>
</html>