<!-- Funnel Panel -->
<div class="content">
    <p><h1>Funnel Analysis</h1></p>
    
    <div class="widget" id="funnelPicker">
        <h2>Funnel List</h2>
        <select data-bind="options: funnels, optionsText: 'name', value: funnelSelected"></select>
        <button data-bind="click: addFunnel">New Funnel</button>
        <div>
        </div>
    </div>

    <div class="widget" id="funnelEditor">
        <h2>Edit Funnel</h2>
        <div data-bind="template: { name: 'funnel-template', data: funnelEdited }"></div>
    </div>

    <div class="widget" id="funnelChart">
        <h2>Chart</h2>
        <button data-bind="click: applyFunnel">Show</button>
        <div class="canvas-container">
            <canvas id="funnelCanvas" width="680" height="300"></canvas>
        </div>
    </div>
</div>

<!-- Funnel -->
<script type="text/html" id='funnel-template'>
    <div class="funnel">
        <input  data-bind="value: $data.name, valueUpdate: 'afterkeydown'", placeholder='Funnel Name'>            
        <button data-bind="click: $parent.saveFunnel">Save</button>
        <button data-bind="click: $parent.deleteFunnel">Delete</button>
        <div>
            Session Properties:
            <textarea rows="8" cols="50" data-bind="value: sessionProperties">
            </textarea>
        </div>
        <div class="steps">
            <!-- ko foreach: $data.steps -->
            <div data-bind="template: { name: 'step-template', data: $data }"></div>
            <!-- /ko -->
        </div>
        <button id="buttonAddStep" data-bind="click: $data.addStep">+</button>
    </div>
    <table class="dateSelection">
        <tbody>
            <tr>
                <td>
                    <span class="label">From date (UTC)</span> 
                </td>
                <td>
                    <input type="text" data-bind="dhtmlXCalendar: { min:null, max: dateToDate, value: dateFromDate}">
                </td>
                <td>
                    <span class="label">From time (UTC)</span> 
                </td>
                <td>
                    <input type="text" data-bind="value: dateFromTime">
                </td>
            </tr>
            <tr>
                <td>
                    <span class="label">Full date from (UTC)</span> 
                </td>
                <td>
                    <input class="fullDate" data-bind="value: dateFrom().toISOString().split('.')[0]"></input>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="label">Till date (UTC)</span> 
                </td>
                <td>
                    <input type="text" data-bind="dhtmlXCalendar: { min:dateFromDate, max: null, value: dateToDate}">
                </td>
                <td>
                    <span class="label">Till time (UTC)</span> 
                </td>
                <td>
                    <input type="text" data-bind="value: dateToTime">
                </td>
            </tr>
            <tr>
                <td>
                    <span class="label">Full date To   (UTC)</span> 
                </td>
                <td>
                    <input class="fullDate" data-bind="value: dateTo().toISOString().split('.')[0]"></input>
                </td>
            </tr>
        </tbody>
    </table>

    <div>
        <span>Exact match:</span>
        <input type="checkbox" data-bind="checked: exact" />            
    </div>
    <div>
        <span>Userwise:</span>
        <input type="checkbox" data-bind="checked: userwise" />            
    </div>
    <div>
        <span>First session:</span>
        <input type="checkbox" data-bind="checked: newUsers" />            
    </div>
    <div>
        <span>Longest funnel:</span>
        <input type="checkbox" data-bind="checked: longestFunnel" />            
    </div>
    <div>
        <span>Linear funnel:</span>
        <input type="checkbox" data-bind="checked: linearFunnel" />            
    </div>
</script>

<!-- Funnel Step -->
<script type="text/html" id='step-template'>
    <div class = 'step'>
        <h2 data-bind="text:'Step ' + $index()"></h2>
        <select data-bind="options: events, value: event"></select>
        <select data-bind="options: properties, value: property", width="8"></select>
        <select data-bind="options: operation_type().operators, optionsText: 'name', optionsValue: 'value', value: operator"></select>
        <input  data-bind="value: value, valueUpdate: 'afterkeydown'">
        <select data-bind="options: operation_types, optionsText: 'name', value: operation_type"></select>
        <button data-bind="click: $parents[1].removeStep" class="removeStep">x</button>
    </div>
</script>

<!-- Funnel Condition -->
<script type="text/html" id='conditionTemplate'>
    <div class="funnel">
        <div class="steps">
            <!-- ko foreach: $data.steps -->
            <div data-bind="template: { name: 'conditionStepTemplate', data: $data }"></div>
            <!-- /ko -->
        </div>
        <button id="buttonAddStep" data-bind="click: $data.addStep">+</button>
    </div>
</script>

<!-- Funnel Condition Step -->
<script type="text/html" id='conditionStepTemplate'>
    <div class = 'step'>
        <select data-bind="options: properties, value: property", width="8"></select>
        <select data-bind="options: operation_type().operators, optionsText: 'name', optionsValue: 'value', value: operator"></select>
        <input  data-bind="value: value, valueUpdate: 'afterkeydown'">
        <select data-bind="options: operation_types, optionsText: 'name', value: operation_type"></select>
        <button data-bind="click: $parents[1].removeStep" class="removeStep">x</button>
    </div>
</script>