<div class="content">
    <p><h1>Retention Analysis</h1></p>


    <div class="widget" id="cohortChart">
        <h2>Retention Chart</h2>
        <span class="label">From</span> <input type="text" id="cohort_date_from" data-bind="click: setSensCohort('cohort_date_to', 'max');" readonly="true">
        <span class="label">Till</span> <input type="text" id="cohort_date_to" data-bind="click: setSensCohort('cohort_date_from', 'min');" readonly="true">
        <div></div>
        <span class="label">Rows</span> <input type="text" id="cohRows" data-bind="value: cohRows">
        <span class="label">Cols</span> <input type="text" id="cohCols" data-bind="value: cohCols">
        <div></div>
        <button data-bind="click: applyCohort">Show</button>


        <table class="cohortTable">
            <tbody data-bind="foreach: retentionMX">
                <tr data-bind="foreach: $data">
                    <td data-bind="text: $data"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>