<ul class="nav">
	<li><a href="/">Track</a></li>
	<li><a href="stats">Stats</a></li>
	<li><a href="funnels">Funnels</a></li>
	<li><a href="retention">Retention</a></li>
	<li><a href="users">Users</a></li>
	<li><a href="notifications">Notifications</a></li>
</ul>