<div class="content">
    <p><h1>User Path Analysis</h1></p>

    <div class="widget" id="userPathTable">
    <div  data-bind="template: { name: 'userPath-template', data: userPath }"></div>
	</div>
	
</div>

<script type="text/html" id='userPath-template'>
	<button data-bind="click: show">Show</button>
		
	</div>
	<table>
	    <thead>
	        <tr><th>User</th><th>Sessions</th><th>Events</th></tr>
	    </thead>
	    <tbody data-bind="foreach: userPaths">
	    	<!-- ko foreach: $data.sessions -->
		        <tr>
		            <!-- ko if: $index() == 0 -->
		            <td data-bind="attr:{rowspan : $parent.sessions.length}, text: $parent.name"></td>
		            <!-- /ko -->
		            <td data-bind="text: $data.name"></td>
		            <td data-bind="text: $data.events"></td>
		        </tr>
	    	<!-- /ko -->
	    </tbody>
	</table>
</script>