/*#efefef,#d0dde3,#a6b1b6,#627b86*/
html,
body
{
    height: 100%;
}
body
{
    font-family: sans-serif;
    color: #627b86;
}

.content
{
    /*padding: 10px;*/
    max-width: 90%;
    margin: auto;
    /*background: #efefef;*/
}

.content h1
{
    line-height: 1.5em;

    margin: auto;
    margin-top: 0;
    margin-bottom: 0;

    text-align: center;
    /*padding: 5px;*/

    color: #627b86;
    background: #d0dde3;
}

.widget
{
    position: relative;

    margin: 10px;
    margin-bottom: 20px;

    border: 2px solid #a6b1b6;
    background-color: #fff;
    -webkit-box-shadow: 3px 3px 5px -1px rgba(0,0,0,.75);
       -moz-box-shadow: 3px 3px 5px -1px rgba(0,0,0,.75);
            box-shadow: 3px 3px 5px -1px rgba(0,0,0,.75);
}

.widget h2
{
    margin-top: 0;
    margin-bottom: 0;

    text-align: center;

    color: #627b86;
    background: #a6b1b6;
    /*line-height: 1.5em;*/
}

.steps
{
    margin: 10px;
}

.step
{
    margin: 0 10px 0 10px;
    /*border-radius: 10px;*/

    border: 2px solid #a6b1b6;
}

.step h2
{
    text-align: left;
}

.removeStep
{
    font-weight: bold;

    float: right;

    margin: 2px 2px;

    color: #627b86;

    border: 0 solid #000;
    -webkit-border-radius: 30px 30px 30px 30px;
       -moz-border-radius: 30px 30px 30px 30px;
            border-radius: 30px 30px 30px 30px;
    background-color: #a6b1b6;
}

button, select, input {
    max-width: 170px; 
}

button
{
    color: #627b86;
    border: 0;
}

#buttonAddStep
{
    font-size: 30px;
    font-weight: bold;

    display: block;

    margin: 10px auto 20px auto;
    padding: 3px 10px;

    border: 0 solid #000;
    -webkit-border-radius: 30px 30px 30px 30px;
       -moz-border-radius: 30px 30px 30px 30px;
            border-radius: 30px 30px 30px 30px;
    background-color: #a6b1b6;
}
