<ul class="nav">
	<li><a href="/tracking/dashboard">Dasboard (hardcoded)</a></li>
	<li><a href="funnels">Funnels (not working)</a></li>
	<li><a href="retention">Retention (not working)</a></li>
	<li><a href="users">Users (not working)</a></li>
	<li><a href="notifications">Notifications (not working)</a></li>
</ul>